<div class="dope-pt-5 dope-pb-5 md:dope-pb-0 internal-header-wrapper">
    <div class="dope-mx-auto dope-max-w-6xl dope-flex dope-justify-between dope-items-center">
        <div>
            <div class="dope-flex dope-items-center">
                <a href="{{ @site.url }}" class=" dope-hidden md:dope-inline-block">
                    <img src="{{ @site.cover_image }}" alt="{{ @site.title }}" />
                </a>
                <div class=" dope-text-white dope-px-5">
                    <h1 class="dope-text-3xl dope-font-extrabold dope-text-[#fbd784]">
                        <a href="{{ @site.url }}">{{@site.title}}</a>
                    </h1>
                    <h2 class=" dope-text-base dope-text-white dope-leading-relaxed">
                        {{@site.description}}
                    </h2>
                </div>
            </div>
        </div>
        <div class="burger"></div>
    </div>
</div>
