<div class="dope-pt-5 dope-pb-5 md:dope-pb-0 internal-header-wrapper dope-relative dope-z-50">
    <div class="dope-mx-auto dope-max-w-6xl dope-flex dope-justify-between dope-items-center">
        <div>
            <div class="dope-flex dope-items-center">
                <a href="{{ @site.url }}" class=" dope-hidden md:dope-inline-block">
                    <img src="{{ @site.cover_image }}" alt="{{ @site.title }}" />
                </a>
                <div class="dope-px-5">
                    <h1 class="dope-text-3xl dope-font-extrabold dope-text-gray-800">
                        <a href="{{ @site.url }}">{{@site.title}}</a>
                    </h1>
                    <h2 class=" dope-text-base dope-text-gray-600 dope-leading-relaxed">
                        {{@site.description}}
                    </h2>
                </div>
            </div>
        </div>
        <div class="mobile-menu-triggerer dope-mr-3 dope-cursor-pointer dope-flex dope-items-center dope-flex-none dope-space-x-2">
            <p class=" dope-uppercase dope-font-bold">Menu</p>
            <div class=" dope-flex dope-flex-col dope-space-y-2">
                <span class=" dope-block dope-h-[3px] dope-w-8 dope-bg-gray-800"></span>
                <span class=" dope-block dope-h-[3px] dope-w-6 dope-bg-gray-800"></span>
            </div>
        </div>
    </div>
</div>