<div class=" dope-w-[95%] dope-px-6 dope-mx-auto dope-pt-10 dope-pb-10 lg:dope-pb-0">
    <div class=" lg:dope-grid-cols-12 dope-grid-cols-1 dope-grid dope-gap-20">
        <div class=" dope-col-span-5 dope-flex dope-flex-col dope-justify-center dope-space-y-6">
            <h1 class="dope-font-Gilroy dope-text-6xl dope-font-bold dope-text-gray-800">
                <a href="{{@site.url}}" class="accent-text">
                    {{@site.title}}
                </a>
            </h1>
            <p class="dope-text-3xl dope-font-semibold dope-text-gray-700">{{@site.description}}</p>
            <p class="dope-text-gray-600 dope-text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum placeat asperiores sit aliquam unde qui, aliquid alias saepe quam dolores, suscipit assumenda rem nam corrupti optio delectus et maxime voluptatum.</p>
            <a href="/book-a-free-1on1-session" class=" dope-text-white dope-font-semibold accent-bg dope-px-4 dope-py-2 dope-rounded-md dope-w-max">Book a free 1:1 session</a>
        </div>
        <div class=" dope-col-span-7 dope-hidden lg:dope-block dope-self-end">
            <img src="{{asset 'images/zed-haque.png'}}" alt="{{ @site.title }}" />
        </div>
    </div>
</div>